body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBCC9D;
}

.image {
    position: relative;
    text-align: center;
}

.image__mobile {
    border-radius: 10% 10% 0 0;
    width: 100%;
    display: block;
}

.image__desktop {
    display: none;
}

.infobloc {
    background-color: white;
    border-radius: 0 0 10% 10%;
    padding: 2em;
    text-align: center;
}

.infobloc__name {
    text-transform: uppercase;
    color: grey;
}

.infobloc__titre {
    font-family: 'Fraunces', serif;
    margin: 0;
}

.infobloc__description {
    color: grey;
}

.price {
    margin: 20px 0;
    display:flex;
    justify-content: space-around;
}

.price__real {
    color: #52AD8C;
    font-family: 'Fraunces', serif;
    font-size: 2em;
    margin: 0;
    text-shadow: #52AD8C;
}

.price__crossed {
    color: grey;
    font-size: small;
    text-decoration: line-through;
    margin: 5px 0;
}

button {
    background-color: #52AD8C;
    border: 0;
    width: 10em;
    height: 3em;
    color: white;
    border-radius: 10%;
    margin-top: 1em;
}

@media screen and (min-width: 375px) {
    .image__mobile {
        display: none;
    }

    .image__desktop {
        border-radius: 10% 10% 0 0;
        width: 50%;
        display: block;
    }

    .container {
        flex-direction: row;
        justify-content: space-around;
        width:90%;
    }

    .infbloc {
        width: 50%;
    }
}